@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {
	background-image: url("images/gray_linen.png");
}

div#wrapper {
	width: 900px;
	margin: auto;
}

div#header {
	display: inline;
	color: #009C3E;
	font-size: 18px;
	font-family: Oswald;
	font-style:  italic;
}

a.navbar-brand {
	padding-top: 0px;
}

button.thumbnail {
    outline: none;
}
div#body{
	overflow:auto;
}
div#footer {
	width: 900px;
	margin: auto;
	padding: 10px;
	border-top: 1px solid gray;
	color: white;
}
div#footer a{
	color: #B0B0B0;
}
div#footer p{
	margin: auto;
	display: inline;
}
div#footer img.image{
	float: right;
}
