@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {
	background-image: url("images/crossword.png");
}

div#wrapper {
	width: 900px;
	margin: auto;
}

div#header {
	display: block;
	color: #009C3E;
	font-size: 18px;
	font-family: Oswald;
	font-style:  italic;
}

div#body{
	border: 2px solid grey;
}
div#body h1{
	text-align:center;
	text-decoration:underline;
	color: black;
}