body {
	background-color: black;
	color: white;
}

div#wrapper {
	width: 900px;
	margin: auto;
}

div#header {
	display: block;
}

div#nav {
	margin: auto;
	display: inline;
	text-align: center;
}

div#nav ul {
	list-style: none;
	display: block;
	margin: 0px auto 0px auto;
	background-color: #5F5F5F;
}

div#nav li {
	display: inline;
}

div#nav li a {
	display: inline-block;
	padding: 7px 10px 7px 5px;
	text-decoration: none;
	color: white;
	border-right: 2px solid #AAAAAA;
}

div#nav li.scoreBoard {
	background-color: #0050AB;
	border: none;
}

div#nav li a:hover {
	background-image: url("images/1E8C2D_75.png");
}